<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 <div class="row">
     <div class="col-md-2 admin-dashboard">
         <%- include('tables') %>
     </div>
     <div class="col-md-10">
        <div class = "container">
            <div class="wrapper card">
                <form action="/moneyReceipt" method="POST" >
                    <h3 class="form-signin-heading">PAYMENT WINDOW</h3>
                <hr class="colorgraph"><br>
                <div class="row">
                    <div class="col-md-2 offset-md-1">
                        <label><b>Event:</b></label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="nameEvent" placeholder="Event Name" required="" autofocus="" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 offset-md-1">
                        <label><b>Head:</b></label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="head" placeholder="Location" required="" autofocus="" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 offset-md-1">
                        <label><b>Sub Head:</b></label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="subHead" placeholder="Location" required="" autofocus="" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 offset-md-1">
                        <label><b>Paid To:</b></label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="paidTo" placeholder="Location" required="" autofocus="" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 offset-md-1">
                        <label><b>Amount:</b></label>
                    </div>
                    <div class="col-md-8">
                        <input type="number" class="form-control" name="amount" placeholder="Location" required="" autofocus="" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 offset-md-1">
                        <label><b>Payment By:</b></label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="paymentBy" placeholder="Location" required="" autofocus="" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 offset-md-1">
                        <label><b>Payment Date:</b></label>
                    </div>
                    <div class="col-md-8">
                        <input type="date" class="form-control" name="paymentDate" placeholder="" required="" autofocus="" />
                    </div>
                </div> <br>

                <div class="row justify-content-end">
                    <div class="col-md-2 offset-md-1"></div>
                    <div class="col-md-4">
                        <button class="btn btn-lg btn-primary btn-block" type="Submit">Add</button>
                    </div>
                    <div class="col-md-1"></div>
                </div>

                </form>
            </div>
        </div>
     </div>
 </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

 <style>
    .wrapper {
      padding: 12px 20px;
      margin: 20px;
      border: 3px solid #f1f1f1;
      border-radius: 15px;
  
  
    }
    input {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    }

    .card:hover{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  }
  
  </style>
  
 