<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 <div class="row">
   <div class="col-md-2 admin-dashboard" >
    <%- include('tables') %>

   </div>
   <div class="col-md-10 table-body">
    <div class = "container">
    	<div class="wrapper">
        <form action="/addNewStall" method="POST" >
          <h3 class="form-signin-heading">STALL ALLOTMENT</h3> 
            <hr class="colorgraph"><br>
            <label><b>Event:</b></label>
            <input list="events" type="text" class="form-control" name="nameEvent" placeholder="" required="" autofocus=""/> 
            <datalist id="events">
              <% for(var i=0; i<event.length; i++ ){ %>
                <option value="<%=event[i].nameEvent%>">
                <% } %>
            </datalist>
            &nbsp;&nbsp; <a class="btn btn-secondary" href="/eventMaster"><i class="fa fa-plus"></i> Add Event</a> <br>

            <label><b>Name of Party:</b></label>
            <input list="party" type="text" class="form-control" name="nameParty" placeholder="" required="" autofocus="" /> 
            <datalist id="party">
              <% for(var i=0; i<party.length; i++ ){ %>
                <option value="<%=party[i].name%>">
                <% } %>
            </datalist>
            &nbsp;&nbsp; <a class="btn btn-secondary" href="/party"><i class="fa fa-plus"></i> Add Party</a> <br>

            <label><b>Type of Stall:</b></label>
            <input list="stallType" type="text" class="form-control" name="stallType" placeholder="Type of stall" required="" autofocus="" /> 
            <datalist id="stallType">
              <% for(var i=0; i<stallType.length; i++ ){ %>
                <option value="<%=stallType[i].stallType%>">
                <% } %>
            </datalist>
            <a class="btn btn-secondary" href="/stallType"><i class="fa fa-plus"></i> Add New Type</a> <br>
            <label><b>Row From:</b></label>
            <input type="number" class="form-control" name="stallFrom" placeholder="From" required="" autofocus="" /> <br>
            <label><b>Row To:</b></label>
            <input type="number" class="form-control" name="stallTo" placeholder="To" required="" autofocus="" /> <br>

            <label><b>Rate:</b></label>
            <input type="number" class="form-control" name="rate" placeholder="Enter total rent" required="" autofocus="" /> <br>
            <label><b>Booked on:</b></label>
            <input type="date" class="form-control" name="booked" placeholder="" required="" autofocus="" /> <br>

    		<button class="btn btn-lg btn-primary btn-block" type="Submit">Add</button>
    		</form>
    	</div>
    </div>
    
   </div>
 </div>

 <style>
   .form-control{
     display: inline-block;
     width: 70%;
   }
  .wrapper {
    padding: 12px 20px;
    margin: 20px;
    border: 3px solid #f1f1f1;


  }
  input {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  }
  label{
    text-align: right;
  }
</style>